.table_container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table {
    width: 100%;
}

.table td {
    padding: 10px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.itemImage {
    border-radius: 50%;
    object-fit: cover;
}

.buttons {
    display: flex;
    gap: 10px;
}
